
.icon-mail:before { content: '\e800'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-rss:before { content: '\f09e'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-pinterest:before { content: '\f231'; } /* '' */